@import "tailwindcss";

:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD GothicJfCc", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  /* 기본 배경색 설정 */
  background-color: #f8fafc; 
}
